<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/home.css" />
    <title>Home</title>
  </head>
  <body>
    <header class="header">
      <nav class="navbar">
        <ul class="navbarList-left">
          <li>
            <a href="#">
              <img src="/assets/images/logo.png" />
            </a>
          </li>
        </ul>

        <ul class="navbarList-center">
          <li><a href="#home">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#articles">Articles</a></li>
          <li><a href="#locations">Locations</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>

        <ul class="navbarList-right">
          <li><a href="#">Emergency</a></li>
          <li>Menubar for login and register</li>
        </ul>
      </nav>
    </header>

    <main class="main home">
      <section class="hero about"></section>
      <section class="doctorSlider"></section>
      <section class="trust"></section>
      <section class="services"></section>
      <section class="recentArticles articles"></section>
    </main>

    <footer class="footer contact"></footer>
  </body>
</html>
